#page {
    background-color:purple;

}

#gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: blue;
    height: 500px;
    width: 500px;
}

.box {
    width: 1fr;
    height: 1fr;   
    background-color: green;
    font-size: 5rem;
    text-align: center;
    padding: 40px 0;
}

.border{
    border: 5px solid white;    
}

.border:hover,
.box:hover{
    background-color: blue;
}